<div class="container" #container>
    <!-- <div class = 'task'>one task</div> -->
    <div class ='task' *ngFor="let item of arrTask$ | async; let i = index">
        <input value ={{item.text}} #tasktext>

        <input #but_1 type="radio" name="execution_client{{i}}" id="not_performed_client{{i}}" value="not_performed"  [attr.checked]="(item.execution) == 'not_performed'? '' : null ">
        <label for="not_performed_client">Not Performed</label>

        <input #but_2 type="radio" name="execution_client{{i}}" id="doing_client{{i}}" value="doing"   [attr.checked]="(item.execution) == 'doing' ? '' : null" >
        <label for="doing_client">Doing</label>

        <input #but_3 type="radio" name="execution_client{{i}}" id="done_client{{i}}" value="done"  [attr.checked]="(item.execution) == 'done' ? '' : null" >
        <label for="done_client">Done</label>

        <!-- <mat-radio-group aria-label="Select an option" [(ngModel)]='(item.execution)[i]'>
          <mat-radio-button value="not_performed" [attr.checked]="(item.execution)[i] == 'not_performed'? '' : null ">Not Performed</mat-radio-button>
          <mat-radio-button value="doing"[attr.checked]="(item.execution)[i] == 'doing' ? '' : null">Doing</mat-radio-button>
          <mat-radio-button value="done" [attr.checked]="(item.execution)[i] == 'done' ? '' : null">done</mat-radio-button>
        </mat-radio-group> -->

            <button (click)='deleteTask(item.id)'>x</button>
            <button (click)='edit(item.id, tasktext.value, but_1.checked, but_2.checked, but_3.checked)'>&#10003;</button>
            </div>
</div>

<button mat-raised-button (click)="openDialog()">Add new task</button>
<button mat-raised-button (click)='clear()'>clear</button>



